p{
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: start;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

p::first-letter{
    initial-letter: 2 2;
}

li{
    color: rgb(252, 75, 8);
}

.desordenada{
    color: rgb(0, 255, 0);
}

#Segundo{
    color: rgb(174, 145, 253);
}

#EvitarCSSPeeper{
    width: 200px;
    height: 200px;
    background: rgb(255, 192, 203);
    border: 5px solid rgb(255, 0, 255);
    border-radius: 15px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px -5px 30px rgb(0, 0, 0);
}

form{
    background: rgb(0, 0, 255);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

h1{
    color: rgb(255, 0, 0)
}

body{
    background: linear-gradient(rgb(255, 248, 231), rgb(0, 0, 0));
    min-height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

input, textarea{
    margin-bottom: 5px;
    min-width: 100%;

}

textarea{
    resize: vertical;
    max-height: 200px;
}

summary{
    color: rgb(255, 0, 0)
}

td, th{
    color: rgb(0, 255, 0);
    border: solid 2px rgb(255, 255, 0)
}

a:link{
    color: rgb(255, 0, 0)
}

a:visited{
    color: rgb(0, 255, 0)
}

input::placeholder{
    color: rgb(65, 65, 130);
}

img{
    width: 250;
    height: 250;
    object-position: contain;
}

#flexbox{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    gap: 10px;
    align-self: center;
}

.flexitems{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: rgb(0, 0, 255);
    flex-grow: 1;
    flex-shrink: 2;
    flex: 1 2 100px;
}

#caja_adaptable{
    background-color: rgb(255, 0, 255);
    min-width: 250;
    max-width: 1000px;
    min-height: 250;
    max-height: 1000px;
}

@media print{
    body{
        font-size: 24pt;
    }
}

#caja_responsive{
    container-type: inline-size;
}

@container (max-width: 500px) {
    p {
        font-size: 20px;
    }
}

#gridbox{
    display: grid;
    grid-template-columns: repeat(3, auto-fit) repeat(3, minmax(100px, 2fr));
    grid-template-rows: repeat(3, auto-fit) repeat(3, minmax(100px, 2fr));
    grid-auto-rows: 200px;
    grid-auto-columns: 200px;
    grid-auto-flow: dense;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.griditems{
    background-color: rgb(255, 192, 203);
}

.griditems:first-child {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
    width: auto;
    height: auto;
}
.griditems:nth-child(2) {
    grid-area: span 2 / span 2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 10px;
}

.subgriditems{
    background-color: rgb(255, 0, 0);
}

@media (max-width: 600px) {
    #grid {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    #flexbox {
        flex-direction: column;
    }

    #EvitarCSSPeeper {
        width: 100%;
        height: auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    body {
        width: 100%; 
        padding: 10px;
        box-sizing: border-box;
    }
}

#caja-transicionada{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: rgb(252, 75, 8);
    transition: width 1s linear, background-color 1s linear;
}

#contenedor-caja-transicionada{
    width: 1000px;
    height: 205px;
    box-sizing: border-box;
    border:rgb(0, 0, 0) solid 2px;
    border-radius: 200px;
}

#caja-transicionada:active{
    width: 100%;
    background-color: rgb(255, 255, 0);
}

#caja-animada{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: rgb(252, 75, 8);
    animation-name: barra;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 5s;
    animation-direction: alternate;
}

#caja-animada:active{
    animation-play-state: paused;
}

#contenedor-caja-animada{
    width: 1000px;
    height: 205px;
    box-sizing: border-box;
    border:rgb(0, 0, 0) solid 2px;
    border-radius: 200px;
}

@keyframes barra{
    from{
        width: 200px;
        background-color: rgb(252, 75, 8);
    }
    to{
        width: 100%;
        background-color: rgb(255, 255, 0);
    }
}

button {
    padding: 10px 40px;
    background-color: transparent;
    color: #48e;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 1px solid #48e;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color .6s;
    z-index: 1;
}

button::before {
    content: '';
    background-color: #48e;
    height: 300%; 
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: all .6s;
    border-radius: 50%;
    top: 100%;
    left: -20%; 
}

button:hover {
    color: rgb(255, 255, 255); 
}

button:hover::before {
    top: -50%;
    left: -20%;
}

#texto-animado {
    color: #fff;
    letter-spacing: 4px;
    white-space: nowrap;
    overflow: hidden;    
    display: block; 
    width: 0;
    animation: escribiendo 2s steps(12) infinite alternate; 
    border-right: 3px solid #fff; 
}

@keyframes escribiendo {
    from { 
        width: 0; 
    }
    to { 
        width: 192px; 
    } 
}

#caja-avanzada{
    --color: color-mix(in rgb, rgb(0, 255, 0) 50%, rgb(0, 0, 255) 50%);
    background-color: var(--color);
    width: clamp(200px, 100%, 40px);
    height: clamp(200px, 100%, 400px);
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0)) blur(10px) brightness(2) contrast(2) grayscale(0.5) saturate(2) hue-rotate(45deg) opacity(100) invert() sepia(0.5);
    backdrop-filter: drop-shadow(2px 2px 4px rgb(0, 0, 0)) blur(10px) brightness(2) contrast(2) grayscale(0.5) saturate(2) hue-rotate(50deg);
    transform: scale(1.125) skew(45deg) rotate(45deg) translate(100px);
}